Resources:
  MasterIPTable:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema:
        HashKeyElement: {AttributeName: HashKey, AttributeType: S}
      ProvisionedThroughput: {ReadCapacityUnits: 1, WriteCapacityUnits: 1}
  SidewaysWWWRouting:
    Type: "AWS::EC2::SecurityGroupIngress"
    Properties:
      FromPort: "9876"
      ToPort: "9876"
      GroupId: { "Fn::GetAtt": ["AWSEBSecurityGroup", "GroupId"] }
      IpProtocol: "tcp"
      SourceSecurityGroupId: { "Fn::GetAtt": ["AWSEBSecurityGroup", "GroupId"] }
  FollowerToMaster:
    Type: "AWS::EC2::SecurityGroupIngress"
    Properties:
      FromPort: "5557"
      ToPort: "5558"
      GroupId: { "Fn::GetAtt": ["AWSEBSecurityGroup", "GroupId"] }
      IpProtocol: "tcp"
      SourceSecurityGroupId: { "Fn::GetAtt": ["AWSEBSecurityGroup", "GroupId"] }
